@import "tailwindcss";
body {
  font-family: "Roboto", sans-serif; /* Default to English font */
}

.lang-en {
  font-family: "Noto Sans", sans-serif;
}

.lang-kh {
  font-family: "Siemreap", sans-serif; /* Khmer font */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
